{% extends 'base.html' %}
{% block container %}

  <style>
    /* Sticky footer styles
    -------------------------------------------------- */
    html {
      position: relative;
      min-height: 100%;
    }
    body {
      margin-bottom: 60px; /* Margin bottom by footer height */
    }
    .footer {
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 60px; /* Set the fixed height of the footer here */
      line-height: 60px; /* Vertically center the text there */
    }
    .navbar {
      padding-top: 0;
      padding-bottom: 0;
    }
  </style>
</head>

<body>
  <main class="container">
    <section class="row">
      <div class="col-12 col-lg-8">
        <h1 class="h3 my-5">Личный кабинет. Заказы</h1>
        {% if orders %}
        {% for order, order_data in orders.items() %}
        <div class="card mt-4">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="row">
                <div class="col-7 col-lg-9">
                  <span class="h5 font-weight-bold">{{ order.date }}</span>
                  <span class="h5">- {{ order.amount }} P</span>
                  <span class="h5">> {{ order.status }}</span>
                </div>
              </div>
            </li>
            <div class="card-body">
              <div class="row">
               {% for food in  order_data %}
                    <p class="col-4 text-muted"> {{ food.title }} </p>
                    <p class="col-2 text-muted"> 1</p>
                    <p class="col-6 text-muted"> {{ food.price }} </p>
                {% endfor %}
              </div>
            </div>
          </ul>
        </div>
        {% endfor %}
      {% else %}
            <div class="alert alert-warning" role="alert">Вы еще не делали заказы</div>
      {% endif %}
      </div>
    </section>
  </main>
</body>
{% endblock %}