<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Паша и Маша</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
        <h1 align="center"> Привет Машенька, я тебя поздравляю :)</h1>
        <h1 align="center"> Теперь ты знаешь, что такое шифр Цезаря, почитай пожалйста про него... (про сам шифр)</h1>
        <h1 align="center"> Мне с каждым разо труднее подбирать слова, поэтому, я напишу небольшой стих посвященный тебе!</h1>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 align="center"> Привет дорогая, я так скучал,
                             <br>Ты наверное не знаешь, но я тебя звал.
                             <br>Я звал тебя в ту самую минуту,
                             <br>Но я не знал, что я рядом с тобой буду.
                             <br>
                             <br>Я шел не той дорогой,
                             <br>Но я просто не знал какой.
                             <br>Ты для меня звезда,
                             <br>Осветила путь, надеюсь навсегда.
                             <br>
                             <br>Забери мое сердце и не отпускай,
                             <br>Это не игрушка, с ним не играй.
                             <br>Ты для меня уже значишь много,
                             <br>А я забыл что такое тревога.
                             <br>
                             <br>Мечтаю тебя любить,
                             <br>Но боюсь тебя тяготить.
                             <br>Спасибо тебе родная,
                             <br>Наш путь не знает края.
                            </h1>
        <br>
        <br>
        <br>
        <h1 align="center"> Береги себя ради меня...</h1>



</body>
</html>