<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Паша и Маша</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
        <h1 align="center"> Привет Маша, я не знаю виделись мы или еще нет в этот день...</h1>
        <h1 align="center"> Я думаю тебе было трудно отгадать загадку, но ты справилась!!</h1>
        <h1 align="center"> Прошлая пасхалка была так себе, я не знал что написать...</h1>
        <h1 align="center"> Эту я делаю на следующий день, если ты забыла, 8 декабря 2020...</h1>
        <h1 align="center"> У меня была трудная ночь...</h1>
        <h1 align="center"> Я не спал, я думал о тебе...</h1>
        <h1 align="center"> Я представлял как вдыхаю твой аромат...</h1>
        <h1 align="center"> Как я погружаюсь в бездну твоих прекраснных глаз...</h1>
        <h1 align="center"> И я стал еще более влюбленный...</h1>
        <h1 align="center"> Ты меня сводишь с ума своим взглядом...</h1>
        <h1 align="center"> Да-да...</h1>
        <h1 align="center"> Эти слова мне тоже даются трудно...</h1>
        <h1 align="center"> Знай, ты вселенная для меня, целый мир, а я в этом мире живу...</h1>
        <h1 align="center"> Наверное я хочу быть рядом с тобой всегда, всю жизнь, старость...</h1>
        <h1 align="center"> Сидеть на берегу океана, держать тебя за руку и думать о тебе...</h1>
        <h1 align="center"> Я не знаю, что со мной сейчас происходит, для меня это новые чувства...</h1>

</body>
</html>