<!DOCTYPE html>
<html lang="ru">

<head>
  <title>Паша и Маша</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
        <h1 align="center"> Мы знакомы {{ days }} дней или {{ hours }} часов или {{ minutes }} минут, ну и {{ seconds }} секунд :)</h1>
        <h1 align="center"> Похоже это целая вечность и я хочу еще столько же...</h1>
        <p><font size="5" color="white" face="Arial">Маша...</font></p>
        <p><font size="5" color="white" face="Arial">Ты настолько прекрасна...</font></p>
        <p><font size="5" color="white" face="Arial">Если честно тебе сказать...</font></p>
        <p><font size="5" color="white" face="Arial">Я просто утонул в твоих глазах...</font></p>
        <p><font size="5" color="white" face="Arial">Я никогда бы не мог подумать...</font></p>
        <p><font size="5" color="white" face="Arial">Что так может получиться...</font></p>
        <p><font size="5" color="white" face="Arial">Я сам не знаю почему, хотя нет знаю...</font></p>
        <p><font size="5" color="white" face="Arial">Я просто в тебя влюблен...</font></p>
        <p><font size="5" color="white" face="Arial">Наверное это самое необычное признание...</font></p>
        <h1 align="center"> https://this url/the first three letters of the name/next number</h1>
        <h1 align="center"> 0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55</h1>


        </body>
</html>